<div class="container">
  <footer class="footer mt-auto py-3 bg-light">
    <span class="text-muted"><span data-controller="copyright"></span> Tetyana LLC. All Rights Reserved. </span>
  </footer>
</div>
